// Scss de değişkenler _ altire ile oluşturulur. o yüzden _variables.scss dedik
// çalışması için style.scss dosyasına gidip  import etmeyi unutma

$spotify-color : #18D860;
$radius: 10px;
$text: rgba(255, 255, 255, 0.78);
$card-background: #282828;
$color: #121212;